body {
  background-color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.theme-profile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: black;
  background-color: white;
}

.horizontal-container {
  display: flex;
}

.title1 h2 {
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
  border-bottom: 1px solid #ddd;
}

.buttons {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
}

.custom-button, .save-button {
  width: 100px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

.custom-button {
  background-color: #f0f0f0;
  /* Same background color as the div */
  color: black;
  border-color: #f0f0f0;
}

.save-button {
  background-color: black;
  color: white;
  border-color: black;
}

.title h2 {
  align-items: center;
  justify-content: center;
}

.profile-icon {
  display: flex;
  padding: 20px;
  height: 60px;
  background-color: #e5e5e5;
  align-items: center;
  margin-left: auto; /* Pushes the profile-icon to the right */
  border: 1px solid #ddd; /* Added border */
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 20px;
}

.icon-image {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 50%;
  margin-right: 10px;
}

.main-content {
  display: flex;
  flex: 1;
}

.menu {
  width: 250px;
  padding: 20px;
  background-color: white;
  
}

.menu h2, .menu h3 {
  margin: 0 0 10px;
  font-weight: normal;
}

.theme-section {
  margin-bottom: 20px;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
}

.color-swatch {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
}

.profile-preview {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left:1px solid #ddd ;
  border-radius: 10px;
}

.profile-header {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border: 2px dashed #ddd;
  overflow: hidden;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-details {
  text-align: center;
}

.profile-details h2 {
  margin: 0 0 10px;
}

.profile-details p {
  margin: 5px 0;
}

.biography {
  max-width: 600px;
  margin-top: 20px;
  line-height: 1.5;
}
